#skryte-poplatky {
  padding: 1em;
  width: calc( 100% - 4em);
}
#skryte-poplatky #row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
#skryte-poplatky #row > a {
  border-radius: 100%;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #999;
  background: #aaa;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  z-index: 1000;
}
#skryte-poplatky #row > a.active {
  color: #000;
  background: white;
}
#skryte-poplatky #row::before {
  position: absolute;
  content: "";
  height: 50%;
  background: transparent;
  border-bottom: 2px solid #fff;
  width: 100%;
}
#skryte-poplatky #content {
  background: #fff;
  margin-top: 1em;
  border-radius: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#skryte-poplatky #content > div {
  position: relative;
}
#skryte-poplatky #content > div .visible {
  position: absolute;
  left: 0;
  top: 0;
}
#skryte-poplatky input[type=button] {
  grid-column-start: 2;
  margin: 1em;
}

#svabi-motel {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, 1fr);
  font-size: 1rem;
  gap: 0.5em 0.5em;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
}
#svabi-motel > * {
  opacity: 0.5;
  user-select: none;
  pointer-events: all;
  cursor: pointer;
  padding: 0.5em;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5em;
  break-after: always;
  color: #fff;
  transition: background 0.1s ease-in;
  pointer-events: none;
}
#svabi-motel > *.correct {
  background: #00e770;
  opacity: 1;
  animation: correct 0.5s ease-in;
}
#svabi-motel > *.wrong {
  background: #ff2b06;
}
#svabi-motel *.active {
  pointer-events: all;
  opacity: 1;
}

.bg-white {
  background: white;
}

#nucene-scrollovani {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
#nucene-scrollovani > * {
  min-height: 100%;
  display: block;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
#nucene-scrollovani > *:not(:first-child):not(:last-child)::after {
  content: "Reklama";
  font-size: 6rem;
  position: absolute;
}

#confirmshaming input {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}
#confirmshaming input:hover {
  background: #00e770;
}
#confirmshaming input.clicked {
  opacity: 0;
  cursor: default;
}

@keyframes falesna-CTA-tlacitka-jump {
  from {
    margin-top: 0.5em;
    margin-bottom: -0.5em;
  }
  to {
    margin-top: -0.5em;
    margin-bottom: 0.5em;
  }
}
@keyframes falesna-CTA-tlacitka-squeeze {
  from {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}
#falesna-CTA-tlacitka {
  height: auto;
  width: calc(100% - 2em);
}
#falesna-CTA-tlacitka > div {
  display: grid;
  grid-template-areas: "a a b b b" "c c c d d" "e e f d d" "e e g g g";
  grid-template-columns: repeat(5, 1fr);
}
#falesna-CTA-tlacitka > div > *:nth-child(1) {
  grid-area: a;
}
#falesna-CTA-tlacitka > div > *:nth-child(2) {
  grid-area: b;
}
#falesna-CTA-tlacitka > div > *:nth-child(3) {
  grid-area: c;
}
#falesna-CTA-tlacitka > div > *:nth-child(4) {
  grid-area: d;
}
#falesna-CTA-tlacitka > div > *:nth-child(5) {
  grid-area: e;
}
#falesna-CTA-tlacitka > div > *:nth-child(6) {
  grid-area: f;
}
#falesna-CTA-tlacitka > div > *:nth-child(7) {
  grid-area: g;
}
#falesna-CTA-tlacitka > div > * {
  box-sizing: content-box !important;
  height: auto;
}
#falesna-CTA-tlacitka > div > * > img {
  width: 100%;
  pointer-events: none;
}
#falesna-CTA-tlacitka > div > *:nth-child(2) > img, #falesna-CTA-tlacitka > div *:nth-child(6) > img {
  transition: all 0.2s ease-in-out;
}
#falesna-CTA-tlacitka > div > *:nth-child(2):hover > img, #falesna-CTA-tlacitka > div *:nth-child(6):hover > img {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
#falesna-CTA-tlacitka > div > *:nth-child(3), #falesna-CTA-tlacitka > div > *:nth-child(7) {
  animation: "falesna-CTA-tlacitka-jump" 0.3s ease-in-out alternate infinite;
}
#falesna-CTA-tlacitka > div > *:nth-child(3) {
  animation-direction: alternate-reverse !important;
}
#falesna-CTA-tlacitka > div > *:nth-child(4), #falesna-CTA-tlacitka > div > *:nth-child(5) {
  animation: "falesna-CTA-tlacitka-squeeze" 0.5s ease-in-out alternate infinite;
}

@keyframes opacity-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#limitovana-nabidka {
  font-size: 1rem;
  display: grid;
  grid-template-areas: "a b" "c c";
  user-select: none;
  width: calc(100% - 2em);
  grid-template-rows: 7em auto;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  color: #fff;
}
#limitovana-nabidka > div {
  border-radius: 1em;
  border: 2px solid #fff;
  padding: 1em;
}
#limitovana-nabidka > div:nth-child(1) {
  grid-area: a;
}
#limitovana-nabidka > div:nth-child(2) {
  grid-area: b;
}
#limitovana-nabidka > div:nth-child(3) {
  grid-area: c;
}
#limitovana-nabidka .sleva {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#limitovana-nabidka .sleva > * + * {
  margin-top: 1rem;
}
#limitovana-nabidka .sleva .time {
  user-select: none;
  font-size: 2em;
  font-variant-numeric: tabular-nums;
  display: flex;
}
#limitovana-nabidka .sleva .time > .minutes::before {
  content: ":" attr(data-value);
}
#limitovana-nabidka .sleva .time > .seconds::after {
  content: ":" attr(data-value);
}
#limitovana-nabidka .luzka {
  display: flex;
  align-items: center;
  justify-content: center;
}
#limitovana-nabidka .luzka > * + * {
  margin-left: 1rem;
}
#limitovana-nabidka .luzka .kolac {
  min-width: 3em;
  min-height: 3em;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 100%;
}
#limitovana-nabidka .luzka * {
  animation: 0.5s opacity-anim ease-in-out alternate-reverse infinite;
}

#privacy-zuckering #icon {
  width: 10em;
  height: 10em;
  background-image: url("../data/KATEGORIE/2_Privacy_zuckering/zucker.png");
  background-size: 100%;
  border-radius: 2em;
}
#privacy-zuckering #icon #remove {
  width: 3.5em;
  height: 3.5em;
  background: silver;
  border-radius: 100%;
  margin: -0.7em 0 0 -0.7em;
  position: relative;
}
#privacy-zuckering #icon #remove:after, #privacy-zuckering #icon #remove:before {
  content: "";
  position: absolute;
  left: calc( 50% - 1px );
  top: 0;
  background: red;
  width: 0px;
  margin-top: 15%;
  height: 70%;
  transform-origin: 50% 50%;
  border-right: 2px solid #000;
  box-sizing: border-box;
}
#privacy-zuckering #icon #remove:after {
  transform: rotate(45deg);
}
#privacy-zuckering #icon #remove:before {
  transform: rotate(-45deg);
}

#falesna-volitelna-tlacitka {
  font-size: 1rem;
}
#falesna-volitelna-tlacitka > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em 2em;
  margin: 0.75em 0;
}
#falesna-volitelna-tlacitka > div > div {
  display: flex;
  align-items: center;
}

#dvojity-negativ {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dvojity-negativ > span {
  background: #fff;
  border-radius: 2em;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#neviditelne-pismo {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: none;
  overflow: hidden;
}
#neviditelne-pismo #small {
  font-size: 0.5em;
  opacity: 0.2;
}
#neviditelne-pismo #magnifier {
  font-size: 4.5em;
  position: absolute;
}
#neviditelne-pismo #magnifier > div {
  margin-left: -10rem;
  margin-top: -10rem;
  padding-top: 10rem;
  padding-left: 10rem;
  box-sizing: border-box;
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  background: #fff;
  border: 2px #000 solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
}
#neviditelne-pismo #magnifier > div > div {
  transform: translateY(50%);
}
#neviditelne-pismo #small, #neviditelne-pismo #magnifier {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
}

/*# sourceMappingURL=categories.css.map */
