@use 'sass:math';
@import "mixins";
$transition: .1s;

#skryte-poplatky {
    width: 100%;
    margin: 0 auto;
    align-self: center;
    display: grid;
    grid-template-columns: auto 2ch auto 2ch auto;
    justify-content: space-around;
    box-sizing: border-box;
    @include gap(.5em .2em);
    align-items: center;
    > * {
        text-align: center;
        font-size: 1rem;
        @media (max-width: $breakpoint) {
            font-size: .8rem;
        }
        &:nth-child(-n+5) {
            font-weight: 900;
            font-size: 2.5rem;
            @media (max-width: $breakpoint) {
                font-size: 1.2rem;
            }
            &:nth-child(odd) {
                background: #fff;
                padding: 1em .5em .75em;
                border-radius: .5em;
            }
        }
        &:nth-child(n+6) {
            &:nth-child(even) {
                background: #fff;
                border-radius: 1em;
                padding: .5em;
            }
        }
        &:nth-child(5n) {
            background: $positive !important;
            cursor: pointer;
        }
    }

}

#svabi-motel {
    align-self: stretch;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    &.done {
        > *:not(.correct) {
            opacity: 0 !important;
        }
    }
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, 1fr);
    font-size: 1rem;
    @media (max-width: $breakpoint) {
        @include gap(.5rem);
    }
    @media (min-width: $breakpoint) {
        @include gap(.8rem);
    }
    > * {
        opacity: 0.5;
        user-select: none;
        pointer-events: all;
        cursor: pointer;
        padding: .5em;
        background:white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: .5em;
        break-after: always;
        color: #fff;
        transition: background .1s ease-in;
        &.correct {
            background: $positive;
            opacity: 1;
            animation: correct .5s ease-in;
        }
        &.wrong {
            background: $negative;
        }
        pointer-events: none;
        // @media (max-width: $breakpoint) {
        //     &:nth-child(-n+5) {
        //         display: none;
        //     }
        //     &:not(.active):nth-child(-n+10) {
        //         opacity: 1;
        //         pointer-events: all;
        //     }
        // }
    }
    *.active{
        pointer-events: all;
        opacity: 1;
    }
}

#nucene-scrollovani {
    display: block;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    > * {
        min-height: 100%;
        display: block;
        max-width: 100%;
        height: 100%;
        position: relative;
        @include flex;
        flex-direction: column;
        @include alignItems(center);
        @include justifyContent;
        text-align: center;
        &:not(:first-child):not(:last-child)::after {
            content: "Reklama";
            font-size: 4rem;
            display: block;
            margin: 0 auto;
            width: 100%;
            text-align: center;
            @media (min-width) {
                font-size: 6rem;
            }
            position: relative; // solve this for iphone

        }
    }
}

#confirmshaming {
    align-self: center;
    margin: 0 auto;
    div {
        margin: 1em;
        background: #fff;
        opacity: 1;
        transition: opacity $transition ease-in;
        &:hover {
            background: $positive;
        }
        &.clicked {
            opacity: 0;
            cursor: default;
        }
    }
}

@keyframes falesna-CTA-tlacitka-jump {
    from {
        margin-top: .5em;
        margin-bottom: -.5em;
    }
    
    to {
        margin-top: -.5em;
        margin-bottom: .5em;
    }
}

@keyframes falesna-CTA-tlacitka-squeeze {
    from {
        @include transform(scale(1, 1));
    }
    
    to {
        @include transform(scale(.8, .8));
    }
}


#falesna-CTA-tlacitka {
    width: 100%;
    height: 100%;
    user-select: none;
    display: block;
    position: relative;
    > #buttons {
        transition: filter .1s ease-in;
        display: grid;
        grid-template-areas: 
            "a a b b b"
            "c c c d d"
            "e e f d d"
            "e e g g g"
        ;
        @media (min-width: 600px) and (max-width: $breakpoint) {
            grid-template-areas: 
                "g g g c c c"
                "e e a a f z"
                "e e b b b z"
                ;
            > *:nth-child(4) {
                display: none;
            }
        }
        $letters: a, b, c, d, e, f, g;
        @for $i from 1 through length($letters) {
            $letter: nth($letters, $i);
            > *:nth-child(#{$i}) {
                grid-area: $letter;
            }
        }
        > * {
            box-sizing: content-box !important;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
        > * > img {
            pointer-events: none;
        }
        > *:nth-child(2), *:nth-child(6) {
            > img {
                transition: all .2s ease-in-out;
            }
            &:hover > img  { 
                    transform: rotate(180deg);
                    transform-origin: 50% 50%;
                }
            }
        > *:nth-child(3), >*:nth-child(7) {
            animation: "falesna-CTA-tlacitka-jump" .3s ease-in-out alternate infinite;
        }
        >*:nth-child(3) {
            animation-direction: alternate-reverse !important;
        }
        >*:nth-child(4), >*:nth-child(5) {
            animation: "falesna-CTA-tlacitka-squeeze" .5s ease-in-out alternate infinite;
        }
        
    }
    &.blur > #buttons {
        filter: blur(4px);
        pointer-events: none;
        > * {
            animation-play-state: paused;
        }
    }
    #ctaMessage {
        display: none;
        background: #fff;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border: $line-width #fff solid;
        > * {
            cursor: default ;
            padding: 1em;
            text-align: center;
            &:last-child {
                cursor: pointer;
                width: 100%;
                height: 100%;
                &:hover {
                    background: $positive;
                }
            }
            &[name=false], &[name=correct] {
                display: none;
            }
        }
        &[data-meaning=false] {
            *[name=false] {
                display: block;
            }
        } 
        &[data-meaning=correct] {
            *[name=correct] {
                display: block;
            }
        } 
    }
}


@keyframes opacity-anim {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#limitovana-nabidka {
    align-self: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    @media (max-width: $breakpoint) {
        font-size: .7rem;
    }
    @media (min-width: $breakpoint) {
        font-size: 1rem;
    }
    display: grid;
    grid-template-areas:
    "a b"
    "c c"
    ;
    user-select: none;
    grid-template-rows: auto 5em;
    grid-template-columns: 2fr 3fr;
    @include gap(1rem);
    color: #000;
    > div {
        border-radius: 1em;
        border: $line-width solid #000;
        padding: 1em;
    }
    & > div:nth-child(1) {
        grid-area: a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & > * + * {
            margin-top: 1rem;
        }
        .time {
            user-select: none;
            font-size: 2em;
            font-variant-numeric: tabular-nums;
            display: flex;
            > .minutes::before {
                content: ":"attr(data-value);
            }
            > .seconds::after {
                content: ":"attr(data-value);
            }
        }
    }
    & > div:nth-child(2) {
        grid-area: b;
        display: flex;
        align-items: center;
        justify-content: center;
        & > * + * {
            margin-left: 1rem;
        }
        .kolac {
            min-width: 3em;
            min-height: 3em;
            background: transparent;
            border: $line-width solid #000;
            border-radius: 100%;
            position: relative;
            overflow: hidden;
            &::after {
                content: "";
                width: 50%;
                height: 50%;
                top: 0;
                left: 50%;
                position: absolute;
                background: #000;
            }
        }
        * {
            animation: .5s opacity-anim ease-in-out alternate-reverse infinite;

        }
    }
    & > div:nth-child(3) {
        grid-area: c;
        display: flex;
        align-items: center;
        & > * + * {
            margin-left: .5em;
        }
    }
}

@keyframes skryte-predplatne {
    @for $i from 0 through 12 {
        @for $k from 0 through 1 {
            #{$i/12 * 100% + $k*2} {
                margin-left: -$i * 100%;
            }
        }
    }
}

#skryte-predplatne {
    // height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    user-select: none;
    img {
        width: 100%;
        max-height: 25ch;
    }

    #months {
        height: 100%;
        width: 100%;
        white-space: nowrap;
        position: absolute;
        top: 35%;
        animation: skryte-predplatne 14s ease-in-out infinite;
        font-size: 0;
        > * {
            width: 100%;
            display: inline-block;
            text-align: center;
            position: relative;
            > .month {
                font-size: 3rem;
                font-weight: 900;
                line-height: 120%;
            }
            > .price {
                font-size: 1.5rem;
            }
        }
    }
}

#privacy-zuckering {
    margin: 0 auto;
    align-self: center;
    @include flex;
    @include alignItems(center);
    .icon {
        height: 50%;
        // opacity: 0.5;
        min-width: 15ch;
        box-sizing: border-box;
        overflow: visible;
        @include flex;
        @include alignItems(center);
        position: relative;
        > div {
            width: 100%;
            padding-bottom: 95.96550662%;
            left: 0;
            position: absolute;
            &:nth-child(1) {
                background-image: url(../data/KATEGORIE/2_Privacy_zuckering/zuck_ghost.svg);
            }
            &:nth-child(2) {
                background-image: url(../data/KATEGORIE/2_Privacy_zuckering/zuck.svg);
            }
            background-position: center center;
            background-repeat: no-repeat;
            transition: all ease-in .3s;
            &.go-away {
                left: -100%;
                transform: scale(0);
            }
            .remove {
                cursor: pointer;
                left: -.5em;
                top: -.5em;
                position: absolute;
                width: 2.5em;
                height: 2.5em;
                background: rgb(227, 227, 227);
                border-radius: 100%;
                &::after, &::before {
                    top: 10%;
                    width: 50%;
                    height: 80%;
                    position: absolute;
                    content: "";
                    border-right: $line-width solid #000;
                    transform-origin: 100% 50%;
                }
                &::after {
                    transform: rotate(45deg) translateY(1px);
                }
                &::before {
                    transform: rotate(-45deg) translateY(-1px);
                }
            }
        }
    }
}


#falesna-volitelna-tlacitka {
    font-size: 1rem;
    align-self: center;
    margin: 0 auto;
    > div {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: .5em 0;
        align-items: center;
        align-content: space-between;
        label + span {
            margin-left: .5em;
        }
        > *:nth-child(4n+3) {
            margin-left: 1.5em;
        }
    }
}

#dvojity-negativ {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    > span {
        > * + * {
            margin-left: 1ch;
        }
        background:  #fff;
        border-radius: 2em;
        padding: 1em;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#neviditelne-pismo {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: none;
    #small {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        font-size: .5em;
        opacity: 0.3;
    }
    #magnifier {
        width: 100%;
        font-size: 3em;
        position: absolute;
        > div {
            width: 10rem;
            height: 10rem;
            margin-left: -5rem;
            margin-top: -5rem;
            border: $line-width #000 solid;
            border-radius: 100%;
            background: #fff;
            position: relative;
            overflow: hidden;
            > div {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                align-items:center;
                justify-content: center;
            }
        }
    }
    #small, #magnifier {
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
    }
}

#pridruzena-slova {
    align-self: center;
    > div {
        user-select: none;
        border-radius: 1em;
        border: $line-width solid #fff;
        text-align: justify;
        padding: 1em 1em .8em;
        .white {
            color: #fff;
        }
    }
}


#nutnost-prihlaseni {
    user-select: none;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    > * {
        min-width: 50%;
    }
    form {
        min-width: 25ch;
        > div:first-child {
            text-align: center;
        }
        margin-right:0;
        padding: 1rem;
        font-size: 1rem;
        > * + * {
            margin-top: .5rem !important;
        }
        display: flex;
        flex-direction: column;
        input {
            font-size: inherit !important;
            margin: 0;
            &::placeholder {
                color: inherit;
            }
            &[type=button], &[type=submit], &[type=email], &[type=password] {
                background: transparent;
                border: $line-width #000 solid;
            }
            &[type=button] {
                color: #fff;
            }
        }
        .checkbox {
            span {
                background: transparent;
                border-color: #000;
            }
        }
        .hint {
            text-align: right;
            width: 100%;
        }
        border-radius: 1rem;
        border: #000 $line-width solid;
    }
    .image {
        position: relative;
    }
}

#falesne-recenze {
    text-align: center;
    align-self: center; 
    display: grid;
    width: 100%;
    @include gap(1em);
    @include alignItems(center);
    @include justifyContent;
    @media (min-width: $breakpoint) {
        grid-template-areas: 
            "a b c d"
            "h g f e"
            "i j k l"
            ;
        grid-template-columns: repeat(4, 1fr);
        font-size: .8em;
    }
    @media (max-width: $breakpoint) {
        grid-template-areas: 
        "a b c"
        "f e d"
        "i h g"
        "l k j"
        ;
        grid-template-columns: repeat(3, 1fr);
        font-size: .65em;
    }
    $letters: a, b, c, d, e, f, g, h, i, j, k, l;
    @for $i from 1 through length($letters) {
        $letter: nth($letters, $i);
        > *:nth-child(#{$i}) {
            grid-area: $letter;
        }
    }
    .svgWrapper {
        height: 5em;
        width: 100%;
        position: relative;
        overflow: visible;
    }
    .reviewWrapper {
        padding: .2em;
        margin: -.5em;
        border: $line-width #000 solid;
        border-radius: 1em;
        .name {
            font-size: 1em;
        }
        .stars {
            height: 10px;
            background: black;
        }
        .review {
            font-size: .7em;
        }
    }
}

// padding
#limitovana-nabidka, #falesna-volitelna-tlacitka, #dvojity-negativ, #nutnost-prihlaseni, #falesne-recenze, #skryte-poplatky, #svabi-motel, #pridruzena-slova  {
    padding: 2em;
    @media (max-width: $breakpoint) {
        padding: 1em;
    }
}

#nucene-scrollovani, #neviditelne-pismo, #privacy-zuckering {
    @media (min-width: $breakpoint) {
        height: 100%;
    }
    @media (max-width: $breakpoint) {
        height: 15em;
    }
}