#skryte-poplatky {
    // padding: 2rem;
    #row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        > a {
            border-radius: 100%;
            font-size: 2rem;
            line-height: 3.2rem;
            color: #000;
            background: #fff;
            width: 1.5em;
            height: 1.5em;
            text-align: center;
            z-index: 1000;
        }
        &::before {
            position: absolute;
            content: "";
            height: 50%;
            background: transparent;
            border-bottom: 2px solid #fff;
            width: 100%;
        }
    }
    #content {
        margin-top: 1em;
        background: #fff;
        border-radius: 1em;
    }
}

.bg-white {
    background: white;
}



#confirmshaming {
    > span:hover {
        background: pink;
    } 
}


#privacy-zuckering {
    #icon {
        width: 10em;
        height: 10em;
        background-image: url("../data/KATEGORIE/2_Privacy_zuckering/zucker.png");
        background-size: 100%;
        border-radius: 2em;
        #remove {
            width: 3.5em;
            height: 3.5em;
            background: silver;
            border-radius: 100%;
            margin: -.7em 0 0 -.7em;
            position: relative;

            &:after, &:before {
                content: "";
                position: absolute;
                left: calc( 50% - 1px );
                top: 0;
                background: red;
                width: 0px;
                margin-top: 15%;
                height: 70%;
                transform-origin: 50% 50%;
                border-right: 2px solid #000;
                box-sizing: border-box;
            }
            &:after {
                transform: rotate(45deg);
            }
            &:before {
                transform: rotate(-45deg);
            }

        }
    }
}


#falesna-volitelna-tlacitka {
    > div {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(4, 2.5em);
        grid-auto-flow: column;
        margin: 0 auto;
        > * {
            margin: 0 auto;
            display: flex;
            align-items: center;
        }
    }
    
}

#dvojity-negativ {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
        background:  #fff;
        border-radius: 2em;
        padding: 1em;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


#neviditelne-pismo {

    #small {
        font-size: 2em;
    }
    #magnifier {
        font-size: 4em;
    }
    #small, #magnifier {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
}
