$positive: rgb(0, 224, 0);
$transition: .1s;

#skryte-poplatky {
    padding: 1em;
    width: calc( 100% - 4em);
    #row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        > a {
            border-radius: 100%;
            font-size: 2rem;
            line-height: 3.2rem;
            color: #999;
            background: #aaa;
            width: 1.5em;
            height: 1.5em;
            text-align: center;
            z-index: 1000;
            &.active {
                color: #000;
                background: white;
            }
        }
        &::before {
            position: absolute;
            content: "";
            height: 50%;
            background: transparent;
            border-bottom: 2px solid #fff;
            width: 100%;
        }
    }
    #content {
        background: #fff;
        margin-top: 1em;
        border-radius: 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        > div {
            position: relative;

            .visible {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
    input[type=button] {
        grid-column-start: 2;
        margin: 1em;
    }
}

#svabi-motel {
    gap: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &.freeze, .freeze {
        pointer-events: none;
    }
    >*{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: .5em;
        text-align: center;
        >* {
            background: #fff;
            padding: .2em;
            border-radius: .2em;
            user-select: none;
            color: transparent;
            &:not(.way):active {
                background-color: red;
            }
            &.show {
                opacity: 1 !important;
                color: black;
            }
            &.correct {
                background-color: green;
                color: black
            }

        }
    }
    >*:not(:nth-child(1)) {
        opacity: 0;
    }

}

.bg-white {
    background: white;
}

#nucene-scrollovani {
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    > * {
        min-height: 100%;
        display: block;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        &::after {
            content: "Reklama";
            font-size: 6rem;
            position: absolute;

        }
    }
}

#confirmshaming {
    input {
        opacity: 1;
        transition: opacity $transition ease-in;
        &:hover {
            background: $positive;
        }
        &.clicked {
            opacity: 0;
            cursor: default;
        }
    }
}

#falesna-CTA-tlacitka {
    > * {
        background: white;
        margin: 2px;
        padding: 2em;
        &:first-child {
            border-radius: 1em 1em 0 0;
        }
        &:last-child {
            padding-top: 1em;
            padding-bottom: 1em;
            border-radius:  0 0 1em 1em;
            &:hover {
                background: $positive;
                cursor: pointer;
            }
        }
    }
    text-align: center;
    transition: opacity $transition ease-in;
    &.clicked {
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }
}

#privacy-zuckering {
    #icon {
        width: 10em;
        height: 10em;
        background-image: url("../data/KATEGORIE/2_Privacy_zuckering/zucker.png");
        background-size: 100%;
        border-radius: 2em;
        #remove {
            width: 3.5em;
            height: 3.5em;
            background: silver;
            border-radius: 100%;
            margin: -.7em 0 0 -.7em;
            position: relative;

            &:after, &:before {
                content: "";
                position: absolute;
                left: calc( 50% - 1px );
                top: 0;
                background: red;
                width: 0px;
                margin-top: 15%;
                height: 70%;
                transform-origin: 50% 50%;
                border-right: 2px solid #000;
                box-sizing: border-box;
            }
            &:after {
                transform: rotate(45deg);
            }
            &:before {
                transform: rotate(-45deg);
            }

        }
    }
}


#falesna-volitelna-tlacitka {
    > div {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-auto-flow: column;
        text-align: center;
        margin: .75em 0;
    }
    
}

#dvojity-negativ {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
        background:  #fff;
        border-radius: 2em;
        padding: 1em;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


#neviditelne-pismo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: none;
    overflow: hidden;
    #small {
        font-size: .5em;
    }
    #magnifier {
        font-size: 4.5em;
        position: absolute;
        > div {
            margin-left: -10rem;
            margin-top: -10rem;
            padding-top: 10rem;
            padding-left: 10rem;
            box-sizing: border-box;
            height: 20rem;
            width: 20rem;
            overflow: hidden;
            background: #fff;
            border: 2px #000 solid;
            border-radius: 100%;
            display: flex;
            align-items: center;
            > div {
                transform: translateY(50%);
            }
            
        }
    }
    #small, #magnifier {
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
    }
}
