@use 'sass:color';
@use 'sass:list';
@use 'mixins';
@import 'mixins';

$static-pic-background: rgb(0, 146, 252);
$categories-colors: rgba(0, 0, 0, 1), rgba(255, 43, 6, 1), rgba(0, 231, 112, 1), rgba(255, 139, 252, 1), rgba(247, 144, 30, 1);
$text-black: #111;

@media (max-width: $breakpoint) {
    .phone-only {
        display: inline;
    }
    .desktop-only {
        display: none;
    }
}
@media (min-width: $breakpoint) {
    .phone-only {
        display: none;
    }
    .desktop-only {
        display: inline;
    }
}


.center-text {
    max-width: 72ch;
    margin: 0 auto;
    text-align: center;
}

.color-highlight {
    color: $static-pic-background;
}

html, body {
    max-width: 100vw;
    padding: 0;
    margin: 0;
    font-family: localNext-Book;
    font-weight: 500;
    font-size: 16px;
    color: $text-black;
    // overflow-x: hidden; // broke sticky
    max-width: 100vw;
}

body {
    background: #eee2;
}

h1, h2, h3, .links {
    font-family: localNext-Medium;
}
p + p {
    margin-top: 1em;
}

h1, .links {
    line-height: 110%;
    @media (max-width: $breakpoint) {
        font-size: 1.5rem;
    }
    @media (min-width: $breakpoint) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 1.75rem;
    line-height: 115%;
    @media (max-width: $breakpoint) {
        font-size: 1.25rem;
    }
    @media (min-width: $breakpoint) {
        font-size: 1.75rem;
    }
}

h3 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    & + * {
        margin-top: 2rem !important;
    }
}

a {
    text-decoration: none;
}


nav {
    position: sticky;
    pointer-events: none;
    display: flex;
    justify-content: center;
    top: 1rem;
    position: -webkit-sticky;
    z-index: 10000;
    color: white;
    flex-flow: row wrap;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 1em;
    padding-bottom: 1em;
    a {
        pointer-events: all;
        color: inherit;
        padding: .3em .4em .2em;
        border-radius: .7em;
    }
    @media (min-width: $breakpoint) {
        font-size: 1.3rem;
        margin-top: 2.8em;
        padding-bottom:2.8em;
        a {
            padding: .6em 1.5em .45em;
            border-radius: .7em;
        }
    }
    > * {
        margin-top: .5rem;
    }
    > * + *{
        margin-left: .5rem;
    }
    @for $i from 1 through length($categories-colors) {
        $color: nth($categories-colors, $i);
        a:nth-child(#{$i}) {
            background-color: $color;
            @media (hover:hover) {
                &:hover {
                    color: $color;
                    background-color: white;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        border: $color 1px solid;
                        border-radius: inherit;
                    }
                }
            }
        }
    }
}

#categories-intro {
    max-width: 90ch;
    margin: 0 auto;
    color: $static-pic-background;
    h2 {
        font-weight: 500;
        text-align: center;
    }
}

@for $i from 1 through length($categories-colors) {
    $color: nth($categories-colors, $i);
    .entry-wrapper:nth-of-type(#{$i*2-1}){
        .button {
            background-color: $color;
            &:hover {
                background-color: #fff;
                color: $color;
                position: relative;
                &::after {
                    content: "";
                    border: $color 1px solid;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                }
            }
        }
    }
}

p {
    max-width: 72ch;
    margin: 0 auto;
    line-height: 145%;
}

.entry-wrapper {
    position: relative;
    max-width: 140ch;
    margin: 0 auto;
    picture {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.link {
    position: absolute;
    top: -9rem;
    @media (min-width: $breakpoint) {
        top: -6rem;
    }
}

.links {
    text-align: center;
    line-height: 2em;
    a, a:active, a:focus, a:visited  {
        color: inherit;
    }
    > * + * {
        margin-left: 2ch;
    }
}

.profile {
    height: 1.5em;
    width: 1.5em;
    flex-shrink: 0;
    display: inline-block;
    position: relative;
    
    &::before, &::after {
        background: #000;
    }
    &::before {
        position: absolute;
        content: "";
        height: 40%;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: .8em .8em .2em .2em;
    }
    &::after {
        position: absolute;
        content: "";
        height: 50%;
        width: 50%;
        border-radius: 100%;
        left: 25%;
        top: 0;
    }
}

article {
    // background: pink;
    @media (max-width: $breakpoint) {
        > * {
            margin-right: 1.3rem !important;
            margin-left: 1.3rem !important;
        }
    }
    > .divider {
        height: 8rem;
        width: 100%;
        margin: 2rem 0 !important;
        @media (min-width: $breakpoint) {
            margin: 5rem 0;
        }
        @for $i from 2 through length($categories-colors) {
            $color: nth($categories-colors, $i);
            &:nth-child(#{($i - 1) * 2}) {
                @include mixins.smooth-opacity-gradient($color, 6);
                // background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
            }
        }
    }
}

#intro {
    text-align: center;
    picture {
        max-width: 90ch;
        img {
            max-width: inherit;
        }
    }
    div {
        margin-top: 2rem;
        @media (min-width: $breakpoint) {
            margin-top: 8rem;
        }
    }
}

.divider-bottom {
    height: 3rem;
    @include mixins.smooth-opacity-gradient(black, 3, $both_sides: false);
    width: 100%;
    margin-top: 6em;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.pointer {
    cursor: pointer;
}

p {
    .button {
        background: #0092fc;
        color: #fff;
    }
}

.bg-blue {
    background: #0092fc !important;
}

.category-entry {
    .html .button {
        font-size: 1rem;
        background: #FFF;
        transition: opacity .1s ease-in;
        &:hover {
            background: #eee !important;
            color: inherit;
            &::after {
                border-color: black;
                box-sizing: border-box;
            }
        }
    }
    @media (max-width: $breakpoint) {
        .hint {
            display: none !important;
        }
        h3 {
            padding-top: 1.5rem;
        }
        max-width: 72ch;
        margin: 2rem auto;
        .illustration {
            box-sizing: border-box;
            margin-top: .5rem;
            &.image {
                overflow: hidden;
                height: 15em;
            }
            &.html {
                min-height: 15em;
                font-size: .9rem;
            }
        }
    }
    @media (min-width: $breakpoint) {
        @include flex;
        flex-direction: column;
        overflow: hidden;
        flex-direction: row;
        > * {
            width: 50%;
            margin: 2rem;
        }
        min-height: 20em;
        max-width: 130ch;
        margin: 4rem auto;
        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
        .text > *{
            max-width: 70ch;
        }
        .illustration.html {
            font-size: 1rem;
        }
    }
    .illustration, .text {
        @include flex;
    }
    .text {
        flex-direction: column;
        justify-content: center;
    }
    .illustration {
        position: relative;
        svg {
            position: absolute;
            // left: 50%;
            // transform: translateX(-50%);
            display: block;
            height: 100%;
        }
        &.html {
            height: 100%;
        }
        &.interactive {
            background: $static-pic-background;
        }
        &.static {
            background: #f06000;
        }
    }
    
    .hint {
        margin-top: .5em;
        display: none;
        font-family: localNext-Mono, monospace;
        font-size: .6rem;
        @media (hover:hover){
            display: inline-block;
            cursor: pointer;
            &:hover {
                > span:last-child {
                    display: inline !important;
                }
            }
        }
    }
}

.button, input[type=button], input[type=submit], button {
    font-family: localNext-Book;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: .5em;
    text-align: center;
    margin: .3em .1em;
    padding: .45em .5em .35em;
    display: inline-block;
    transition: transform .1s ease-in-out;
    white-space: normal;
    word-wrap: break-word;
}


input {
    outline: none;
    border: $line-width solid gray;
    border-radius: .2rem;
    ::placeholder {
        color: rgb(128, 128, 128) !important;
        opacity: 1;
    }
}


.checkbox {
    font-size: inherit;
    width: 1.5em;
    // margin: -.25em 1ch 0 1ch;
    height: 1.5em;
    display: inline-block;
    position: relative;
    span {
        font-size: inherit;   
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        background: #fff;
        border: $line-width solid gray;
        box-sizing: border-box;
        border-radius: .25em;
    }
    input {
        opacity: 0;
    }
    &:not(.rounded){
        input {
            &:checked + span::after {
                transform: rotate(40deg);
                transform-origin: 100% 66%;
                display: block;
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                height: 125%;
                width: 66%;
                border-right: 6px solid #000;
                border-bottom: 6px solid #000;
                box-sizing: border-box;
            }
        }
    }
    &.rounded {
        width: 1.7em;
        height: 1.7em;
        span {
            border-radius: 100% !important;
            width: 1.7em;
            height: 1.7em;
        }
        input {
            opacity: 0;
            &:checked + span::after {
                background: #000;
                content: "";
                left: 0;
                width: 70%;
                height: 70%;
                margin-left: 15%;
                margin-top: 15%;
                position: absolute;
                border-radius: 100%;
            }
            
        }
    }
}