#intro {
    text-align: center;
    picture {
        max-width: 90ch;
        img {
            max-width: inherit;
        }
    }
    div {
        margin-top: 8rem;
        // margin-bottom: 8rem;
    }
}