<div id="svabi-motel">
    {% set data = [   
        ["FAQ", "Nastavení", "Nápověda", "Další", "Změnit"],
        ["Účet", "Zavolat", "Členství", "Profil", "Možnosti"],
        ["Kontakty", "Formulář", "Poslat dopis", "Pomoc", "Infolinka"],
        ["Vrátit zpět", "Error", "Účet byl zrušen", "Nelze provést", "Chyba systému"],
        ] %}
    {% set correct = [3, 1, 2, 2]%}
    {% for column in data %}
            {% set column_index = loop.index0 %}
            {% for cell in column %}
                <div {%if column_index == 0 %}class="active" {% endif %}{% if loop.index0 == correct[column_index] %} onclick="correct(this)"{% else %} onclick="this.classList.add('wrong')"{%endif%} data-column-index="{{column_index}}">{{cell}}</div>
            {% endfor %}
    {% endfor %}
</div>

<script>
    const correct = (el) => {
        el.classList.add("correct")
        const index = el.dataset.columnIndex
        const cells = el.parentNode.children
        for(let i=5+index*5; i<(10+index*5); ++i) {
            if (index < 3) {
                cells[i].classList.add("active")
            }
            cells[i-5].classList.remove("active")
        }
    }    
</script>