<div id="intro" class="gap-top">
    <h1>
        <span class="desktop-only">
            Dark&nbsp;patterns&nbsp;<span class="color-highlight">
            a na co si dát pozor
            při&nbsp;brouzdání&nbsp;internetem.</span>
        </span>
        <span class="phone-only">
            Dark patterns<span class="color-highlight">
            a na co si dát pozor
            při brouzdání internetem.</span>
        </span>
    </h1>
    <picture>
    <img src="assets/header.jpg" alt="header" height="auto" width="auto">
    </picture> 
    <div class="center-text">
        {{content}}
    </div>
</div>