<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="css/fonts_base64.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/categories.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/intro.css">
    <link rel="stylesheet" href="css/pluginy_odkazy_projekt.css">
    <title>Darkpatterns</title>
</head>
<body>
    <nav class="color-white">
        <a href="#uvod">úvod</a>
        <a href="#kategorie">kategorie</a>
        <a href="#uzitecne-pluginy">užitečné pluginy</a>
        <a href="#uzitecne-odkazy">užitečné odkazy</a>
        <a href="#o-projektu">o projektu</a>
    </nav>
    <div class="link" id="uvod">
    </div>
    <article>
        {% for entry, id in zip(entries, ["uvod", "kategorie", "uzitecne-pluginy", "uzitecne-odkazy", "o-projektu"]) %}
            <div class="entry-wrapper{% if loop.index0 >= 2 %} center-text{% endif %}">
                {% if loop.index0 != 0 %}
                    <div class="link" id="{{id}}">
                    </div>
                {% endif %}
                {{ entry }}
            </div>
            {% if loop.index < loop.length %}
            <div class="divider">
            </div>
            {% endif %}
        {% endfor %}
        <div class="links">
            <a href="https://www.facebook.com/groups/1106715309832098" target="_blank">FB</a>
            <a href="https://www.instagram.com/p/CPpo2QchGsp" target="_blank">IG</a>
            <a href="https://twitter.com/manipulativnid1" target="_blank">TW</a>
        </div>
        <div class="center-text hidden">
            <a id="download"  href="assets/ilu_download.png" download="picture.png">download</a>
        </div>
    </article>
    <div class="divider-bottom">
    </div>
</body>
<script src="js/scroll.js">
</script>
</html>